.Homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.header {
    width: 100%;
    min-height:11rem;
    margin-bottom:2.5rem;
}

.main {
    flex: 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    /* stop the browser from showing a scroll bar that takes up width. */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    scrollbar-color: transparent;
    overflow-y: scroll; 
}

.main::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.todosList {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#prev {
    position:sticky;
    top: 1rem;
    margin-right:0.8rem;
   
}

#next {
    position:sticky;
    top: 1rem;
    margin-left:0.8rem;
}


.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-36 { font-size: 36px; }

#prev:hover {
    color: rgba(255, 255, 255, 1);
}

#next:hover{
    color: rgba(255, 255, 255, 1);
}