.Homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.header {
    width: 100%;
    min-height:11rem;
    margin-bottom:2.5rem;
}

.main {
    flex: 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.currentTodos {
    display: flex;
    justify-content: space-between;
    width: 100%;
}