.Homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.header {
    width: 100%;
    min-height:11rem;
    margin-bottom:2.5rem;
}

.main {
    flex: 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;

    overflow: scroll;

}

.todosList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

#prev {
    position:fixed;
    top: 35%;
    left: 22%;
}

#next {
    position:fixed;
    top: 35%;
    right: 22%;;
}


.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-36 { font-size: 36px; }

#prev:hover {
    color: rgba(255, 255, 255, 1);
}

#next:hover{
    color: rgba(255, 255, 255, 1);
}